/* Permalink - use to edit and share this gradient: http://colorzilla.com/ */

/* black Pipe */
"background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(top, rgb(76,76,76) 0%, rgb(89,89,89) 12%, rgb(102,102,102) 25%, rgb(71,71,71) 39%, rgb(44,44,44) 50%, rgb(0,0,0) 51%, rgb(17,17,17) 60%, rgb(43,43,43) 76%, rgb(28,28,28) 91%, rgb(19,19,19) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgb(76,76,76) 0%,rgb(89,89,89) 12%,rgb(102,102,102) 25%,rgb(71,71,71) 39%,rgb(44,44,44) 50%,rgb(0,0,0) 51%,rgb(17,17,17) 60%,rgb(43,43,43) 76%,rgb(28,28,28) 91%,rgb(19,19,19) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgb(76,76,76) 0%,rgb(89,89,89) 12%,rgb(102,102,102) 25%,rgb(71,71,71) 39%,rgb(44,44,44) 50%,rgb(0,0,0) 51%,rgb(17,17,17) 60%,rgb(43,43,43) 76%,rgb(28,28,28) 91%,rgb(19,19,19) 100%);">

/* grey to black */
background: rgb(181,189,200);
background: -moz-linear-gradient(top,  rgb(181,189,200) 0%, rgb(130,140,149) 36%, rgb(40,52,59) 100%);
background: -webkit-linear-gradient(top,  rgb(181,189,200) 0%,rgb(130,140,149) 36%,rgb(40,52,59) 100%);
background: linear-gradient(to bottom,  rgb(181,189,200) 0%,rgb(130,140,149) 36%,rgb(40,52,59) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 );

/* red Pipe */

/* gradient-editor/#ff3019+0,cf0404+100;Red+3D */
background: rgb(255,48,25); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(255,48,25) 0%, rgb(207,4,4) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(255,48,25) 0%,rgb(207,4,4) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(255,48,25) 0%,rgb(207,4,4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */