.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.content-area {
	@include make-col-ready();
	
	@include media-breakpoint-up(sm) {
	   @include make-col(12);
	}
	
	@include media-breakpoint-up(md) {
	   @include make-col(9);
	}	
}

.widget-area {
	@include make-col-ready();

    @include media-breakpoint-up(sm) {
	   @include make-col(12);
	}

	@include media-breakpoint-up(md) {
	   @include make-col(3);
	}  
}

.site-content {
  @include make-row();
}

.mdi {
    color: $gray-700;
    margin-right: 0.25rem;
  }
 
  span {
    margin-right: 1.0rem;
    display: inline-block;
 
    &:last-child {
      margin-right: 0;
    }
  }
 
  a {
    color: $gray-700;
 
    &:hover {
      text-decoration: none;
      color: $gray-900;
    }
  }

  .entry-title {
  font-size:1.75rem !important; 
  }
